@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  background: dodgerblue;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
}

.btn:hover {
  background: cornflowerblue;
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
}