@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');
@font-face {
    font-family: 'Bahnschrift';
    src: url('./fonts/Bahnschrift.woff2') format('woff2'),
        url('./fonts/Bahnschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

button {
  background-color:#053F5E;
  border-radius:10px;
  border: 3px #FFD717;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:9px 19px;
  text-decoration:none;
  margin: 5px;
}

a.btnleft {
  background-color:#FFD717;
  border-radius:10px;
  border: 3px #FFD717;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:9px 19px;
  text-decoration:none;
  margin: 10px;
  margin-left: 17px;
  color: black;
  font-weight: bolder;
}
button:disabled {
  background: lightslategray;
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.01em;
  color: #FFD717;
  padding-left: 17px;
  padding-top: 7px;
  padding-right: 17px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: white;
  padding-left: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 17px;
}

div.verhoren {
  margin-bottom: 10px;  
  text-align: left;
  background-color: #001F3F;
  border-bottom: 4px solid #ffd717;
}

div.welkom {
  margin-bottom: 10px;  
  text-align: left;
  background-color: #001F3F;
  border-bottom: 4px solid #ffd717;
}

div.spelregels {
  margin-bottom: 10px;  
  text-align: left;
  background-color: #001F3F;
  border-bottom: 4px solid #ffd717;
}

footer {
  text-align: center;
  border-bottom: 7px solid #ffd717;
  background-color: #001F3F;
  opacity: 1;
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(45deg, #000000 0, #000000 0.4px, #001F3F 0, #001F3F 50%);  
}